// styles
.search {
  &__input {
    padding: 0 0.5rem;
    border: 1px solid var(--grey-70);
    width: 100%;
    border-right: 0;
    outline: 0;
    line-height: 3.5rem;
    &:focus,
    :active {
      border-color: #000;
      box-shadow: 0rem 0.5rem 1rem rgb(0 0 0 / 20%);
    }
  }
  &__button {
    padding: 0 1rem !important;
    line-height: 3.5rem;
  }
}
