@import "/node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
@import "./mixins.scss";

// base config
$font-base: 16px;
$mobile: 768px;
$grid-columns: 12;
$desktop-max-size: 80.5rem;
$gutter: 3rem;

// colors

$white: #fff;
$darkgrey: #333;
$grey50: mix($white, $darkgrey, 50%);
$grey70: mix($white, $darkgrey, 70%);
$grey90: mix($white, $darkgrey, 90%);
$grey95: mix($white, $darkgrey, 95%);

:root {
  --color-primary: #e20015;
  --darkgrey: #{$darkgrey};
  --grey-50: #{$grey50};
  --grey-70: #{$grey70};
  --grey-90: #{$grey90};
  --grey-95: #{$grey95};
  --color-mediumred: #c7000a;
  --color-darkred: #97000a;
}

html,
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  // outline: 0;
}
a {
  color: var(--color-primary);
  text-decoration: none !important;
}

b,
strong {
  font-weight: 600 !important;
}
H1,
H2,
H3 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
