// styles
.product {
  position: relative;
  &__box {
    padding: 0.5rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid var(--grey-90);
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      border: 1px solid var(--color-primary);
      box-shadow: 0 1rem 1rem 0rem rgb(0 0 0 / 20%);
    }
    &__price {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
      &--sale {
        margin-top: 0;
        color: var(--color-primary);
      }
    }
    &__striked_price {
      margin-top: 0.5rem;
      text-decoration: line-through;
      color: var(--grey-50);
      font-size: 0.85rem;
    }
    &__eyecatcher {
      background-color: var(--color-primary);
      color: #fff;
      position: absolute;
      float: right;
      top: 1rem;
      right: 2rem;
      padding: 0.5rem 0.75rem;
      border-radius: 6px;
      text-transform: uppercase;
      font-weight: bold;
      box-shadow: 0 0.25rem 0.3125rem -0.125rem rgb(0 0 0 / 20%);
      z-index: 2;
    }
    &__brand {
      margin-top: 1rem;
      font-size: 0.75rem;
      color: var(--grey-70);
    }
    &__name {
      font-size: 1.5rem;
    }
  }
}
