// styles
.image {
  width: 100%;
  height: 100%;
  background: #eaeaea url("../../static/loading.gif") no-repeat center center;
  img {
    width: 100%;
    opacity: 0;
    transition: all 2s ease;
  }
}
